<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <style>
        #q {
            color: blue;
        }

    </style>
</head>
<body style="alignment: center">
<div>

    <div>
        My Appication

    </div>
    <br><br>
    <span id="number">question Number</span>
    <div>
        <span id="qstn">Question:<br>
       <input type="text" id="q"></span>
    </div>
    <br>
    <div>
        <span>OptionA :</span>
        <span><input type="text" id="a"></span>
    </div>
    <br>
    <div>
        <span>OptionB :</span>
        <span><input type="text" id="b"></span>
    </div>
    <br>
    <div>
        <span>Option C:</span>
        <span><input type="text" id="c"></span>
    </div>
    <br>
    <div>
        <span>Option D:</span>
        <span><input type="text" id="d"></span>
    </div>
    <br>
    <div>
        <span>Option E:</span>
        <span><input type="text" id="e"></span>
    </div>
    <br>
    <input type="button" id="submit" value="Submit" onclick="adding()">

    <input type="button" id="next" value="Next Qst" onclick="directing()">
    <input type="button" id="edit" value="edit" onclick="editing()">

</div>
<script src="../script/add_data.js"></script>
<script src="../script/edit_data.js"></script>
</body>
</html>